/* src/components/PokemonList.css */
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

button {
  padding: 10px;
  background-color: #33ff00;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0.3rem;
}

button:disabled {
  background-color: #534646;
  cursor: not-allowed;
}

.pokemon-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #87948c;
  font-family: 'Pokemon GB', sans-serif;
}

.pokemon-list ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.pokemon-item {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.pokemon-item:hover {
  transform: scale(1.05);
}

.pokemon-item a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
}

.pokemon-image {
  width: 100px;
  height: 100px;
}

.pokemon-name {
  font-size: 18px;
  margin-top: 10px;
  text-transform: capitalize;
}

.search-bar {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
